[Unit]
Description=OMXPlayer Remote API service
After=network.target

[Service]
ExecStart=/usr/bin/omx-remote-api
Type=simple
User=pi
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target